{{#each appointments as |app|}}

<div class="box appointment" data-id="{{app.id}}">
  <div class="columns">
    <div class="column is-3 name">
      <p>
        <span class="title is-bold">{{app.app_type}}</span>
        <!-- <span class="button is-danger is-outlined follow">delete</span> -->
      </p>
    </div>
    <div class="column is-2 followers has-text-centered">
      <p class="stat-val">{{app.doctor.given_name}} {{app.doctor.family_name}}</p>
      <a class="modal-doctor-toggle" href="#">Change Doctor</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 following has-text-centered">
      <p class="stat-val">12:00pm</p>
      <a href="#">Change Time</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 likes has-text-centered">
      <p class="is-4">{{app.patient.diagnosis}}</p>
      <a class="modal-diagnosis-toggle"href="#">Change Diagnosis</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-1">
      <button id="delete-appointment" name="{{app.id}} "class="button is-danger is-outlined">Delete Appointment</button>
    </div>
  </div>
</div>

<!-- DOCTOR MODAL-->
<div id="change-doctor" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <form id="change-doctor">
          <legend clas>Change Doctor</legend><br>
          <input class="input" id="first-name" type="text" value="" placeholder="First Name">
          <input class="input" id="last-name" type="text" value="" placeholder="Last Name"><br><br>
          <input class="button is-info" id="change-doc" type="submit" name="{{app.doctor.id}}" value="Change Doctor">
          <p class="changed has-text-danger"></p>
      </form>
    <button class="modal-close is-large modal-doctor-toggle refresh" aria-label="">Close</button>
  </div>
</div>
<!-- <button class="modal-doctor-toggle button is-primary">Modal</button> -->
<!-- END OF DOCTOR MODAL-->

<!-- DIAGNOSIS MODAL-->
<div id="update-diagnosis" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <form id="change-diagnosis">
          <legend clas>Change Diagnosis</legend><br>
          <input class="input" id="diagnosis" type="text" value="" placeholder="Diagnosis">
          <input class="input button is-info" id="change-patient-diagnosis" type="submit" name="{{app.patient.id}}" value="Change Diagnosis">
          <p class="changed has-text-danger"></p>
      </form>
    <button class="modal-close is-large modal-diagnosis-toggle refresh" aria-label="">Close</button>
  </div>
</div>
<!-- <button class="modal-doctor-toggle button is-primary">Modal</button> -->
<!-- END OF DIAGNOSIS MODAL-->


{{/each}}
