{{#each appointments as |app|}}

<div class="box appointment" data-id="{{app.id}}">
  <div class="columns">
    <div class="column is-3 name">
      <p>
        <span class="title is-bold">{{app.app_type}}</span>
        <!-- <span class="button is-danger is-outlined follow">delete</span> -->
      </p>
    </div>
    <div class="column is-2 followers has-text-centered">
      <p class="stat-val">{{app.doctor.given_name}} {{app.doctor.family_name}}</p>
      <a href="#">Change Doctor</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 following has-text-centered">
      <p class="stat-val">11:00a</p>
      <a href="#">Change Time</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 likes has-text-centered">
      <h2 class="is-4">{{app.patient.diagnosis}}</h2>
      <a href="#">Change Type</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-1">
      <button class="button is-danger is-outlined level-item">Delete Appointment</button>
    </div>
  </div>
</div>

{{/each}}
