{{#each patients as |patient|}}

<div class="box appointment">
  <div class="columns" data-id="{{patient.id}}">
    <div class="column is-3 name">
      <p>
        <span class="title is-bold">{{patient.given_name}} {{patient.family_name}}</span>
        <!-- <span class="button is-danger is-outlined follow">delete</span> -->
      </p>
      <p class="tagline">{{patient.diagnosis}}</p>
    </div>
    <div class="column is-2 followers has-text-centered">
      <p class="stat-val">Maester Raymon</p>
      <a href="#">Change Doctor</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 following has-text-centered">
      <p class="stat-val">{{patient.dob}}</p>
      <a href="#">Change Time</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 likes has-text-centered">
      <small>{{patient.email}}</small>
      <a href="#">Change Type</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-1">
      <button class="button is-danger is-outlined level-item">Delete Appointment</button>
    </div>
  </div>
</div>

{{/each}}
